@model CharacterViewModel
    @{
        ViewBag.Title = "Character";
        <h1>@ViewBag.Title</h1>
        var characterName = @Model.Character.Name.Replace(" ", "_");
        var img = "images/" + characterName + ".png";
        <img src="@Url.Content(img)" alt=@characterName>
        @Model.Character.Name

        <h2>Related to</h2>
        <ul>
            @foreach(var relation in Model.RelatedCharacters)
            {
            <ul>
                <li>
                    @Html.ActionLink(@relation.Name, "Index", "Character", new { @id = relation.CharacterId }, null)
                </li>
            </ul>
            }
        </ul>
    }