@model CharacterViewModel
    @{
        ViewBag.Title = "Character";
        <h1>@ViewBag.Title</h1>
        var img = "images/" + @Model.Character.Name + ".png";
        <img src="@Url.Content(img)" alt=@Model.Character.Name>
        @Model.Character.Name

        <h2>Related to</h2>
        <ul>
            @foreach(var relation in Model.RelatedCharacters)
            {
            <ul>
                <li>
                    @relation.Name
                </li>
            </ul>
            }
        </ul>
    }